/*
 * Ces lignes sont essentielles pour activer Tailwind CSS
 */
@tailwind base
@tailwind components
@tailwind utilities

/* Styles globaux */
body {
    font-family: 'Inter', sans-serif;
    color: #333;
    min-height: 100vh; 
    margin: 0;
}